table, td, tr,th{
	border: 2px solid black;
  border-collapse: collapse;
  background-color: DarkGreen;
  }
  h1{
	  text-decoration: underline;
	  background-color: Chartreuse;
	  padding: 10px;
	  padding-left: 5px;
	  margin-top: 10px;
  }
 body{
 background-color: DarkGreen;
font-family: "Times New Roman", serif;
 }
 #info{
	 background-color: Green;
 }
 .highlight{
background-color: Chartreuse;
}
#quickguide{
	text-decoration: underline;
}
