.header {
	text-align: center;
	font-weight: bold;
	background-color: red;
}
.h1 {
	font-weight: bold;
	text-align: center;
	background-color: forestgreen;
	width: 100%;
}
.h2 {
	text-align: center;
}
.p {
font-size: 50px;
}
body {
	background-color: red;
}
.subtitle {
font-weight: bold;
text-align: center;
background-color: forestgreen;
width: 20%;
text-decoration: underline;
font-size: medium;
}

